body {
  margin: 0;
  background-color: lightgray;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

#start-screen{
  background-image: url(../images/startScreen.png);
  background-size: cover;
  width:400px;
  height:700px;
  margin: 0;

}

#gameover-screen{
  background-image: url(../images/endScreen.png);
  background-size: cover;
  width:400px;
  height:700px;

}

button {
  background-color: rgba(32, 2, 107, 0.784);
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.25)
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: darkgray;
  width:400px;
  height:700px;

  position: relative; /* allows us to position inner elements (absolute) related the the game-box */
  overflow: hidden; 
  /*prevents elements to visually exit the game-box */
  user-select: none; /* prevents elements inside the game-box to be highlighted. This improves the user experience for click events on the game-box */

}

#game-box * {
  pointer-events: none; /* prevents elements in the game-box to be dragged. This improves the user experience for click events on the game-box  */
  background-image: cover;
}

#game-screen, #gameover-screen{
  display: none;
}

#game-box {
  background-image: url(../images/background.png);
  background-size: cover;
}

#game-box p{
  position: absolute;
  padding: 10px 30px;
  top:0px;
  right:0px;
  color: white;
  font-weight: bold

}

h3{
  padding: 40px;
}

 span{
  padding: 30px;
  font-weight: bold;
  font-size: 2em;

}

#save-button{
}
 .disabled{
  background: rgba(32, 2, 107, 0.25);
  color: rgba(255,255,255,0.5);
  box-shadow: none;
  cursor: default;
  pointer-events: none; ;
}